---
const { episodesToShow = [] } = Astro.props;
import EpisodeItem from "./EpisodeItem.astro";

---

<div class="overflow-hidden mx-5">
  <ul aria-label="Episodios">
    <li>
      {
        episodesToShow.map(
          (episode: {
            title: string;
            description: string;
            image: string;
            publishDate: string;
            enclosure: { url: string };
            duration: string;
            slug: string;
          }) => (
            <EpisodeItem
              title={episode.title}
              description={episode.description}
              image={episode.image}
              date={episode.publishDate}
              media={episode.enclosure.url}
              duration={episode.duration}
              slug={episode.slug}
            />
          )
        )
      }
    </li>
  </ul>
</div>
