---

const { title, slug, description, date, media, duration, image } = Astro.props

---
<div class="flex w-full flex-col py-10 lg:flex-row">
  <img 
    src={image} 
    alt={title}
    aria-hidden="true"
    class="mb-3 block h-24 w-24 rounded-md lg:mr-6"
    height="80"
    width="80"
  />
  <div class="flex flex-col">
      <time class="text-[1rem]" datetime={date}> 
        {date}
      </time>
     <h2 class="my-2 text-lg font-bold text-light-text-heading dark:text-text-bg">
       <a href="#">
        {title}
       </a>
     </h2>
     <p class="mb-5">{description}</p>
     <div class="flex items-center gap-6 text-sm">
        <a href="#" class="font-bold text-light-text-heading dark:text-text-bg">Mostrar Notas</a>
     </div>
     <!-- <p class="my-2 text-lg font-bold text-light-text-heading dark:text-text-bg">Episodio de refencia: 04x02: Pa' loca tu calva</p> -->
  </div>
</div>